
@using EventfulDemo.Web.Models;
@model SearchViewModel

@{
    ViewBag.Title = "Eventful Demo Home Page";
}

<div class="jumbotron">
    <h1>Eventful Demo</h1>
    <p class="lead">Eventful Demo illustrates REST requests to the Eventful web site</p>
</div>

<h1>Search Events</h1>

<div class="well">
	@using (Html.BeginForm("Index", "Home"))
	{
		<div class="form-group">
			@Html.LabelFor(m => m.Location)
			@Html.TextBoxFor(m => m.Location, new {@class="form-control"})
			@Html.ValidationMessageFor(m => m.Location)
		</div>

		<label for="SortOrderDiv">Sort Order</label>
		<div id="SortOrderDiv">
			<div class="radio">
				<label>
					<input type="radio" id="SortOrder" name="SortOrder" value="date"/>
					Date
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" id="SortOrder" name="SortOrder" value="relevance"/>
					Relevance
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" id="SortOrder" name="SortOrder" value="popularity" checked/>
					Popularity
				</label>
			</div>
		</div>

		<label for="SortDirectionDiv">Sort Direction</label>
		<div id="SortDirectionDiv">
			<div class="radio">
				<label>
					<input type="radio" id="SortDirection" name="SortDirection" value="ascending"/>
					Ascending
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" id="SortDirection" name="SortDirection" value="descending" checked/>
					Descending
				</label>
			</div>
		</div>
		
		<input id="SearchEvents" name="SearchEvents" type="submit" value="Seach Events" class="btn btn-primary" />
	}
</div>

<div id="LoadingDiv">
	<img id="AjaxLoadingGif"src="~/Content/Images/ajax-loader.gif" style="display: block; margin-left: auto; margin-right: auto" alt="Loading..."/>
</div>

<button id="PreviousButtonAtTop" class="btn btn-primary">Previous</button>
<span id="PagingInfo"></span>
<button id="NextButtonAtTop" class="btn btn-primary">Next</button>

<div id="SearchResults">
</div>

<button id="PreviousButtonAtBottom" class="btn btn-primary">Previous</button>
<button id="NextButtonAtBottom" class="btn btn-primary">Next</button>

@section scripts{
	<script src="~/Scripts/Home/Index.js"></script>
	<script id="EventTemplate" type="text/x-jsrender">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="{{:venue_url}}">{{:title}}</a>
			</div>
			<div class="panel-body">
				{{if image && image.medium }}
					{{for image.medium}}
						<img src="{{:url}}" height="{{:height}}" width="{{:width}}" />
					{{/for}}
				{{/if}}
				<div><strong>{{:venue_address}},&nbsp;{{:city_name}},&nbsp;{{:region_abbr}}</strong></div>
				<div><strong>{{:start_time}}</strong></div>
				{{if performers}}
					{{for performers}}
						<div>
							{{:name}}
						</div>
				
					{{/for}}
				{{/if}}
				{{if description}}
					<div class="well">
						<p>{{:description}}</p>
					</div>
				{{/if}}
			</div>
		</div>
	</script>
	<script id="PerformersTemplate" type="text/x-jsrender">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="{{:venue_url}}">{{:title}}</a>
			</div>
			<div class="panel-body">
				{{if image && image.medium }}
					{{for image.medium}}
						<img src="{{:url}}" height="{{:height}}" width="{{:width}}" />
					{{/for}}
				{{/if}}
				<div><strong>{{:venue_address}},&nbsp;{{:city_name}},&nbsp;{{:region_abbr}}</strong></div>
				<div><strong>{{:start_time}}</strong></div>
				{{if performers}}
					{{for performers}}
						<div>
							{{:name}}
						</div>
				
					{{/for}}
				{{/if}}
				{{if description}}
					<div class="well">
						<p>{{:description}}</p>
					</div>
				{{/if}}
			</div>
		</div>
	</script>
}

