
@using EventfulDemo.Web.Models;
@model SearchViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eventful Demo</h1>
    <p class="lead">Eventful Demo illustrates making REST requests to the Eventful web site</p>
</div>

<h1>Search Events</h1>

<div class="well">
	@using (Html.BeginForm("Index", "Home"))
	{
		@Html.LabelFor(m => m.Location)
		@Html.TextBoxFor(m => m.Location)
		@Html.ValidationMessageFor(m => m.Location)

		<input id="SearchEventsByLocation" name="SearchEventsByLocation" type="submit" value="Seach by Location" class="btn btn-primary"/>
	}
</div>

<button id="PreviousButton" class="btn btn-primary">Previous</button>
<button id="NextButton" class="btn btn-primary">Next</button>

<div id="SearchResults">
</div>

@section scripts{
	<script src="~/Scripts/Home/Index.js"></script>
	<script id="EventTemplate" type="text/x-jsrender">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="{{:venue_url}}">{{:title}}</a>
			</div>
			<div class="panel-body">
				{{if image && image.medium }}
					{{for image.medium}}
						<img src="{{:url}}" height="{{:height}}" width="{{:width}}" />
					{{/for}}
				{{/if}}
				<div><strong>{{:venue_address}},&nbsp;{{:city_name}},&nbsp;{{:region_abbr}}</strong></div>
				<div><strong>{{:start_time}}</strong></div>
				{{if performers}}
					{{for performers}}
						<div>
							{{:name}}
						</div>
				
					{{/for}}
				{{/if}}
				{{if description}}
					<div class="well">
						<p>{{:description}}</p>
					</div>
				{{/if}}
			</div>
		</div>
	</script>
}

