
@using EventfulDemo.Web.Models;
@model SearchViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eventful Demo</h1>
    <p class="lead">Eventful Demo illustrates making REST requests to the Eventful web site</p>
</div>

<h1>Search Events</h1>

<div class="well">
	@using (Html.BeginForm("Index", "Home"))
	{
		@Html.ValidationSummary()

		@Html.LabelFor(m => m.Location)
		@Html.TextBoxFor(m => m.Location)

		@Html.ValidationMessageFor(m => m.Location)

		<input id="SearchEventsByLocation" name="SearchEventsByLocation" type="submit" value="Seach by Location" class="btn btn-primary" />
	}
</div>
<button id="PreviousButton" class="btn btn-primary">Previous</button>
<button id="NextButton" class="btn btn-primary">Next</button>

<div id="SearchResults">

</div>

@section scripts{
	<script src="~/Scripts/Home/Index.js"></script>
	<script id="Template" type="text/x-jsrender">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="{{:venue_url}}">{{:title}}</a>
			</div>
			<div class="panel-body">
				{{if (image != null && image.medium != null)}}
					<img src="{{:image.medium.url}}" height="{{:image.medium.height}}" width="{{:image.medium.width}}" />
				{{/if}}
				<div>{{:venue_address}},&nbsp;{{:city_name}},&nbsp;{{:region_abbr}}</div>
				<div>{{:start_time}}</div>
				{{if (performers != null)}}
					<div>{{:performers}}</div>
				{{/if}}
					<p>{{:description}}</p>
				</div>
			</div>
		</div>
	</script>
}

@*
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
*@