@model EventfulDemo.Models.SearchViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eventful Demo</h1>
    <p class="lead">Eventful Demo illustrates making REST requests to the Eventful web site</p>
</div>

<h1>Search Events</h1>

<div class="well">
	@using (Html.BeginForm("Index", "Home"))
	{
		@Html.LabelFor(m => m.Location)
		@Html.TextBoxFor(m => m.Location)
		@Html.ValidationMessageFor(m => m.Location)

		<input id="SearchEventsByLocation" name="SearchEventsByLocation" type="submit" value="Seach by Location" class="btn btn-primary"/>
	}
</div>

<button id="PreviousButton" class="btn btn-primary">Previous</button>
<button id="NextButton" class="btn btn-primary">Next</button>

<div id="SearchResults">
</div>

@section scripts{
	<script src="~/Scripts/Home/Index.js"></script>
	<script id="Template" type="text/x-jsrender">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="{{:venue_url}}">{{:title}}</a>
			</div>
			<div class="panel-body">
				{{if (image != null && image.medium != null)}}
					<img src="{{:image.medium.url}}" height="{{:image.medium.height}}" width="{{:image.medium.width}}" />
				{{/if}}
				<div>{{:venue_address}},&nbsp;{{:city_name}},&nbsp;{{:region_abbr}}</div>
				<div>{{:start_time}}</div>
				{{if (performers != null)}}
					<div>{{:performers}}</div>
				{{/if}}
					<p>{{:description}}</p>
				</div>
			</div>
		</div>
	</script>
}

